doctype
html(lang=config.language)
  head
    include head
  body
    div(class="w-screen p-2.5")
      header(class="flex flex-col items-center sm:flex-row sm:justify-between sm:px-25 py-5")
        a(href=url_for() class="mb-2 sm:mb-0")
          img(src=url_for(theme.logo) alt="logo" class="h-15")
        include nav
      main(class="my-8 mx-2.5 sm:mx-0")
        block container
      footer
        block pagination
        block copyright
    include scripts
